tensorflow
keras
opencv-contrib-python
tqdm
scikit-learn
pandas
numpy
jupyter
notebook
Flask
flask_sqlalchemy
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability