tensorflow
keras
opencv-contrib-python
tqdm
scikit-learn
pandas
numpy
jupyter
notebook
Flask
flask_sqlalchemy
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability